body{
font-family: Arial;
margin:20px;
background:#f5f5f5;
}

.panel{
display:flex;
gap:10px;
margin-bottom:20px;
}

input,select,button{
padding:10px;
}

button{
background:red;
color:white;
border:none;
cursor:pointer;
}

li{
background:white;
margin:5px;
padding:10px;
list-style:none;
}
#map{
height:400px;
margin-bottom:20px;
border-radius:10px;
}
table{
width:100%;
border-collapse:collapse;
background:white;
}

th{
background:#c62828;
color:white;
padding:12px;
}

td{
padding:10px;
border-bottom:1px solid #ddd;
}

.estado{
font-weight:bold;
color:green;
}