body{
    font-family: Arial, sans-serif;
    margin:20px;
    background:#faf9f9;
}

h1,h2{
    color:#c62828;
}

.panel{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:20px;
}

input,
select,
button{
    padding:10px;
    border-radius:5px;
    border:1px solid #160d0d;
    font-size:14px;
}

input{
    min-width:250px;
}

button{
    background:#ad1c1c;
    color:rgb(250, 248, 248);
    border:none;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#a51f1f;
}

#map{
    height:500px;
    width:100%;
    margin-bottom:20px;
    border:1px solid #fefdff;
    border-radius:10px;
    overflow:hidden;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    margin-bottom:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

th{
    background:#c62828;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

tr:hover{
    background:#f9f9f9;
}

@media(max-width:768px){

    body{
        margin:10px;
    }

    .panel{
        flex-direction:column;
    }

    input,
    select,
    button{
        width:100%;
        box-sizing:border-box;
    }

    #map{
        height:350px;
    }

}
/* =========================
   DASHBOARD
========================= */

.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
    margin-bottom:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.15);
}

.card h3{
    margin:0;
    color:#c62828;
    font-size:16px;
}

.card span{
    display:block;
    margin-top:10px;
    font-size:32px;
    font-weight:bold;
    color:#333;
}
body{
    max-width:1400px;
    margin:auto;
}

h1{
    color:#c62828;
}

.panel{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}